@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    p {
        width: 320px;
    }
</style>

<div class="form-group">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="form-group">
    <img src="~/images/bonobono.png" width="320" height="320" />
    <p class="overflow-auto">
        
    </p>
</div>